<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="box" style="border: 1px solid #ddd; padding: 15px; border-radius: 5px; text-align: center;">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202405/2216/444709c0fc44dc35a2080047237d8f9721c0df091d69a825.jpg" class="img-thumbnail" alt="Image description">
        <div class="caption">
          <h3>Dragon Ball Sparking Zero</h3>
          <p class="description">12$ (PC)</p>
        </div>
        <div class="buttons" style="margin-top: 10px;">
          <button class="btn btn-success">Buy Now</button>
          <button class="btn btn-secondary">Add To Cart</button>
        </div>
      </div>
    </div>
    <!-- Repeat for other columns -->
    <div class="col-sm-4">
      <div class="box" style="border: 1px solid #ddd; padding: 15px; border-radius: 5px; text-align: center;">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202405/2216/444709c0fc44dc35a2080047237d8f9721c0df091d69a825.jpg" class="img-thumbnail" alt="Image description">
        <div class="caption">
          <h3>Dragon Ball Sparking Zero</h3>
          <p class="description">12$ (PC)</p>
        </div>
        <div class="buttons" style="margin-top: 10px;">
          <button class="btn btn-success">Buy Now</button>
          <button class="btn btn-secondary">Add To Cart</button>
        </div>
      </div>
    </div>    <div class="col-sm-4">
      <div class="box" style="border: 1px solid #ddd; padding: 15px; border-radius: 5px; text-align: center;">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202405/2216/444709c0fc44dc35a2080047237d8f9721c0df091d69a825.jpg" class="img-thumbnail" alt="Image description">
        <div class="caption">
          <h3>Dragon Ball Sparking Zero</h3>
          <p class="description">12$ (PC)</p>
        </div>
        <div class="buttons" style="margin-top: 10px;">
          <button class="btn btn-success">Buy Now</button>
          <button class="btn btn-secondary">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
